/*General*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/*Bg Video*/

#video-fond {
    width: 100%;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

/*Menu-Pricipal*/

#body-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Tangerine', cursive;
    color: aliceblue;
    font-size: 6vw;
    padding: 8px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    text-shadow: 2px 2px 4px black;
    cursor: default;
}

#menuPrincipal {
    background-image: url("../img/BcaKKAG7i.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 40%;
}

#btn {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.buttonMenu {
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    font-family: 'Tangerine', cursive;
    font-size: 2.5vw;
    font-weight: 800;
    width: 100%;
    cursor: pointer;
}

#btn-logo-volume-off {
    position: relative;
    top: -100px;
    margin-right: 38%;
    margin-left: 40%;
    width: auto;
}

#logo-volume-off {
    color: black;
    cursor: pointer;
    font-size: 2em;
    margin: 20px;
    padding-left: 80%;
}

/*Menu selection nbr Joueurs*/

#modal-players {
    display: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    height: 80%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#modal-players button {
    padding: 10%;
}

#content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    display: none;
    min-height: 395px;
}

.joueur1 {
    width: 10px;
    height: 10px;
    background-color: red;
}

.joueur2 {
    width: 10px;
    height: 10px;
    background-color: blue;
}

.joueur3 {
    width: 10px;
    height: 10px;
    background-color: green;
}

.joueur4 {
    width: 10px;
    height: 10px;
    background-color: orange;
}

.joueur5 {
    width: 10px;
    height: 10px;
    background-color: brown;
}

.joueur6 {
    width: 10px;
    height: 10px;
    background-color: purple;
}
