
.joueur1{
    width: 10px;
    height: 10px;
    background-color: red;
}
.joueur2{
    width: 10px;
    height: 10px;
    background-color: blue;
}
.joueur3{
    width: 10px;
    height: 10px;
    background-color: green;
}
.joueur4{
    width: 10px;
    height: 10px;
    background-color: orange;
}
.joueur5{
    width: 10px;
    height: 10px;
    background-color: brown;
}
.joueur6{
    width: 10px;
    height: 10px;
    background-color: purple;
}